@model Blob.Contracts.Models.ViewModels.StatusRecordDeleteVm
@addtaghelper "Microsoft.AspNet.Mvc.TagHelpers"

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Status Record</h4>
    </div>

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt asp-for="RecordId"></dt>
        </dl>
    </div>
</div>
<form asp-controller="Status" asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
    </div>

    <input type="submit" value="Save" />
</form>