<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Environment" value="Debug" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AuthorizationService" value="AuthorizationService" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthorizationServiceUsername" value="BeforeUser" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthorizationServicePassword" value="BeforePassword" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.serviceModel>
    
    <client xdt:Transform="Replace">
      <endpoint address="https://dev.blobservice.rritc.com/AuthorizationService.svc" binding="netHttpsBinding" bindingConfiguration="BeforeBinding" behaviorConfiguration="BeforeBehavior" contract="Blob.Contracts.ServiceContracts.IAuthorizationManagerService" name="AuthorizationService">
        <identity>
          <dns value="dev.blobservice.rritc.com" />
        </identity>
      </endpoint>
      <endpoint address="https://dev.blobservice.rritc.com/BeforeCommandService.svc" binding="netHttpsBinding" bindingConfiguration="BeforeBinding" behaviorConfiguration="BeforeBehavior" contract="Blob.Contracts.ServiceContracts.IBlobCommandManager" name="BeforeCommandService">
        <identity>
          <dns value="dev.blobservice.rritc.com" />
        </identity>
      </endpoint>
      <endpoint address="https://dev.blobservice.rritc.com/BeforeQueryService.svc" binding="netHttpsBinding" bindingConfiguration="BeforeBinding" behaviorConfiguration="BeforeBehavior" contract="Blob.Contracts.ServiceContracts.IBlobQueryManager" name="BeforeQueryService">
        <identity>
          <dns value="dev.blobservice.rritc.com" />
        </identity>
      </endpoint>
      <endpoint address="https://dev.blobservice.rritc.com/DeviceStatusService.svc" binding="netHttpsBinding" bindingConfiguration="BeforeBinding" behaviorConfiguration="BeforeBehavior" contract="Blob.Contracts.ServiceContracts.IDeviceStatusService" name="DeviceStatusService">
        <identity>
          <dns value="dev.blobservice.rritc.com" />
        </identity>
      </endpoint>
      <endpoint address="https://dev.blobservice.rritc.com/UserManagerService.svc" binding="netHttpsBinding" bindingConfiguration="BeforeBinding" behaviorConfiguration="BeforeBehavior" contract="Blob.Contracts.ServiceContracts.IUserManagerService" name="UserManagerService">
        <identity>
          <dns value="dev.blobservice.rritc.com" />
        </identity>
      </endpoint>
    </client>
  
  </system.serviceModel>
</configuration>