@model Blob.Contracts.Models.ViewModels.DevicePageVm
@{
    ViewBag.Title = "Devices";
}

<h2>@ViewBag.Title.</h2>
@{ Html.RenderAction("PageForCustomer", "Device", routeValues: new { id = ViewBag.SearchId, page = ViewBag.PageNum, pageNum = ViewBag.PageNum });}
