@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <div class="jumbotron"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Active Connections</strong>
        </div>
        @{ Html.RenderAction("CurrentConnectionsLarge", "Dashboard", routeValues: null);}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Devices</strong>
        </div>
        @{ Html.RenderAction("DevicesLarge", "Dashboard", routeValues: null);}
    </div>
}
else
{
    <div class="jumbotron">
        <div>You need to @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to have any fun!</div>
    </div>
}
