<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
      <name>FreeDiskSpace</name>
      <group>MyJobs</group>
      <description>FreeDiskSpace Description</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.FreeDiskSpace, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>DriveLetter</key>
          <value>C</value>
        </entry>
        <entry>
          <key>DriveDescription</key>
          <value>OS</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>LessThan</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>20</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>10</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>FreeDiskSpace</name>
        <group>MyJobs</group>
        <description>A description</description>
        <job-name>FreeDiskSpace</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>


    <job>
      <name>PerfMemoryAvailableBytes</name>
      <group>MyJobs</group>
      <description>PerfMemoryAvailableBytes Description</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.PerfMonMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>CategoryName</key>
          <value>Memory</value>
        </entry>
        <entry>
          <key>CounterName</key>
          <value>Available Bytes</value>
        </entry>
        <entry>
          <key>InstanceName</key>
          <value></value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>LessThan</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>1000000000</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>500000000</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>PerfMemoryAvailableBytes</name>
        <group>MyJobs</group>
        <description>A description</description>
        <job-name>PerfMemoryAvailableBytes</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PerfProcessorPercentTime</name>
      <group>MyJobs</group>
      <description>PerfProcessorPercentTime Description</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.PerfMonMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>CategoryName</key>
          <value>Processor</value>
        </entry>
        <entry>
          <key>CounterName</key>
          <value>% Processor Time</value>
        </entry>
        <entry>
          <key>InstanceName</key>
          <value>_Total</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>GreaterThan</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>80</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>90</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>PerfProcessorPercentTime</name>
        <group>MyJobs</group>
        <description>A description</description>
        <job-name>PerfProcessorPercentTime</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PingMonitor1</name>
      <group>MyJobs</group>
      <description>Check if the device can ping</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.PingMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>RemoteDevice</key>
          <value>localhost</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>NotEqual</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>0</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>0</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>PingMonitor1</name>
        <group>MyJobs</group>
        <description>checks ping monitor trigger</description>
        <job-name>PingMonitor1</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>WindowsServiceMonitor1</name>
      <group>MyJobs</group>
      <description>Check the status of the windows service</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.WindowsServiceMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>ServiceName</key>
          <value>wuauserv</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>NotEqual</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>4</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>4</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>WindowsServiceMonitor1</name>
        <group>MyJobs</group>
        <description>checks windows service monitor trigger</description>
        <job-name>WindowsServiceMonitor1</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>WindowsUpdateMonitor</name>
      <group>MyJobs</group>
      <description>Checks windows update</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.WindowsUpdateMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>GreaterThan</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>5</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>10</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>WindowsUpdateMonitor</name>
        <group>MyJobs</group>
        <description>checks windows update trigger</description>
        <job-name>WindowsUpdateMonitor</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0 1 * * ?</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>