<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
      <name>FreeDiskSpace</name>
      <group>MyJobs</group>
      <description>FreeDiskSpace Description</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.FreeDiskSpace, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>DriveLetter</key>
          <value>C</value>
        </entry>
        <entry>
          <key>DriveDescription</key>
          <value>OS</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>FreeDiskSpace</name>
        <group>MyJobs</group>
        <description>A description</description>
        <job-name>FreeDiskSpace</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>


    <job>
      <name>PerfMemoryAvailableBytes</name>
      <group>MyJobs</group>
      <description>PerfMemoryAvailableBytes Description</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.PerfMonMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>CategoryName</key>
          <value>Memory</value>
        </entry>
        <entry>
          <key>CounterName</key>
          <value>Available Bytes</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>PerfMemoryAvailableBytes</name>
        <group>MyJobs</group>
        <description>A description</description>
        <job-name>PerfMemoryAvailableBytes</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PerfProcessorPercentTime</name>
      <group>MyJobs</group>
      <description>PerfProcessorPercentTime Description</description>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.PerfMonMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>CategoryName</key>
          <value>Processor</value>
        </entry>
        <entry>
          <key>CounterName</key>
          <value>% Processor Time</value>
        </entry>
        <entry>
          <key>InstanceName</key>
          <value>_Total</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>PerfProcessorPercentTime</name>
        <group>MyJobs</group>
        <description>A description</description>
        <job-name>PerfProcessorPercentTime</job-name>
        <job-group>MyJobs</job-group>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>