<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives><overwrite-existing-data>true</overwrite-existing-data></processing-directives>
  <schedule>
    <job>
      <name>FreeDiskSpace1</name>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.FreeDiskSpace, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>DriveLetter</key>
          <value>C</value>
        </entry>
        <entry>
          <key>DriveDescription</key>
          <value>OS</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>LessThan</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>20</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>10</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>FreeDiskSpace1Trigger</name>
        <job-name>FreeDiskSpace1</job-name>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>


    <job>
      <name>PerfMonMonitorMemoryAvailableBytes</name>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.PerfMonMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>CategoryName</key>
          <value>Memory</value>
        </entry>
        <entry>
          <key>CounterName</key>
          <value>Available Bytes</value>
        </entry>
        <entry>
          <key>InstanceName</key>
          <value></value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>LessThan</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>1000000000</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>500000000</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>PerfMonMonitorMemoryAvailableBytesTrigger</name>
        <job-name>PerfMonMonitorMemoryAvailableBytes</job-name>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PerfMonMonitorProcessorPercentTime</name>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.PerfMonMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>CategoryName</key>
          <value>Processor</value>
        </entry>
        <entry>
          <key>CounterName</key>
          <value>% Processor Time</value>
        </entry>
        <entry>
          <key>InstanceName</key>
          <value>_Total</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>GreaterThan</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>80</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>90</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>PerfMonMonitorProcessorPercentTimeTrigger</name>
        <job-name>PerfMonMonitorProcessorPercentTime</job-name>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PingMonitor1</name>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.PingMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>RemoteDevice</key>
          <value>localhost</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>NotEqual</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>0</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>0</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>PingMonitor1Trigger</name>
        <job-name>PingMonitor1</job-name>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>WindowsServiceMonitor1</name>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.WindowsServiceMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>ServiceName</key>
          <value>BMonitorService</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>NotEqual</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>4</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>4</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>WindowsServiceMonitor1Trigger</name>
        <job-name>WindowsServiceMonitor1</job-name>
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>WindowsUpdateMonitor</name>
      <job-type>BMonitor.Service.Monitor.Quartz.QuartzJob, BMonitor.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>MonitorType</key>
          <value>BMonitor.Monitors.WindowsUpdateMonitor, BMonitor.Monitors</value>
        </entry>
        <entry>
          <key>Operation</key>
          <value>GreaterThan</value>
        </entry>
        <entry>
          <key>Warning</key>
          <value>5</value>
        </entry>
        <entry>
          <key>Critical</key>
          <value>10</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>WindowsUpdateMonitorTrigger</name>
        <job-name>WindowsUpdateMonitor</job-name>
        <cron-expression>0 0 1 * * ?</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>