<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="BlobBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
      <netHttpsBinding>
        <binding name="BlobBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
            <!--<transport clientCredentialType="Basic"/>-->
          </security>
        </binding>
      </netHttpsBinding>
    </bindings>
    
    <client>
      
      <endpoint address="https://dev.blobservice.rritc.com/RegistrationService.svc"
          binding="netHttpsBinding"
          bindingConfiguration="BlobBinding"
          behaviorConfiguration="BlobBehavior"
          contract="Blob.Contracts.Registration.IRegistrationService"
          name="RegistrationService">
        <identity>
          <dns value="dev.blobservice.rritc.com" />
        </identity>
      </endpoint>
      
      <endpoint address="https://dev.blobservice.rritc.com/StatusService.svc"
          binding="netHttpsBinding"
          bindingConfiguration="BlobBinding"
          behaviorConfiguration="BlobBehavior"
          contract="Blob.Contracts.Status.IStatusService"
          name="StatusService">
        <identity>
          <dns value="dev.blobservice.rritc.com" />
        </identity>
      </endpoint>
      
    </client>
  </system.serviceModel>
</configuration>