<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="be">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <client>
      <endpoint name="RegistrationService" address="https://dev.blobservice.rritc.com/RegistrationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" behaviorConfiguration="be"
          contract="Blob.Contracts.Registration.IRegistrationService" />
      <endpoint name="StatusService" address="https://dev.blobservice.rritc.com/StatusService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" behaviorConfiguration="be"
          contract="Blob.Contracts.Status.IStatusService" />
      <!--<endpoint name="StatusService" address="https://dev.blobservice.rritc.com/StatusService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" behaviorConfiguration="be"
          contract="Blob.Contracts.Status.IStatusService" />-->
    </client>
  </system.serviceModel>
</configuration>