<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStatusService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58164/StatusService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatusService"
          contract="Blob.Contracts.Status.IStatusService" />
      <!--<endpoint address="http://blobservice.rritc.com/StatusService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatusService"
          contract="Blob.Contracts.Status.IStatusService" />-->
    </client>
  </system.serviceModel>
</configuration>