@model System.Web.Mvc.HandleErrorInfo

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Error</h4>
    </div>

    <div class="modal-body">
        <dl class="dl-horizontal">
            <div class="text-danger">Error.</div>
            <div class="text-danger">An error occurred while processing your request.</div>
        </dl>
    </div>
</div>
