<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!--<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="BlobDbContext" connectionString="Data Source=(local);Initial Catalog=BlobDb2;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--<system.identityModel>
    <identityConfiguration name="BlobIdentity">

    </identityConfiguration>
  </system.identityModel>-->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5.2" />

    <!-- Test machineKey.  Change after dev time-->
    <machineKey validationKey="806DA3230D504975153A70789D60134C00F9EA5D8F8E498DC826FB3A81A69A10DEEF795A6841E2154D885952A8759411BD661846D6C11C23B947351A9B9302E0" decryptionKey="8DCBF6A88438EB6E8F51059770DC1A8E5B776CB4307922C8" validation="SHA1" />
  </system.web>

  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <!--<add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Services.Command.CommandService" relativeAddress="CommandService.svc" />-->
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Security.BlobUserManagerAdapter" relativeAddress="IdentityService.svc" />
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Services.Registration.RegistrationService" relativeAddress="RegistrationService.svc" />
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Services.Status.StatusService" relativeAddress="StatusService.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BlobServiceBehavior">

          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Blob.Security.BlobServiceAuthorizationManager, Blob.Security" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Blob.Security.BlobUserNamePasswordValidator, Blob.Security" />
          </serviceCredentials>

          <!--<serviceCredentials useIdentityConfiguration="true" identityConfiguration=""/>-->

          <!--<serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="BlobRoleProvider"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="BlobMembershipProvider"/>
            <serviceCertificate findValue="dev.blobservice.rritc.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
          </serviceCredentials>-->

          <serviceDebug includeExceptionDetailInFaults="True" />

          <serviceMetadata httpsGetEnabled="true" />

          <!--<serviceSecurityAudit auditLogLocation="Application"
                                suppressAuditFailure="true"
                                serviceAuthorizationAuditLevel="Success"
                                messageAuthenticationAuditLevel="Success" />-->
        </behavior>

        <!--<behavior name="CommandServiceBehavior">

          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="BlobRoleProvider" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="BlobMembershipProvider" />
            <serviceCertificate findValue="dev.blobservice.rritc.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
          </serviceCredentials>

          <serviceDebug includeExceptionDetailInFaults="True" />

          <serviceMetadata httpsGetEnabled="true" />

          --><!--<serviceSecurityAudit auditLogLocation="Application"
                                suppressAuditFailure="true"
                                serviceAuthorizationAuditLevel="Success"
                                messageAuthenticationAuditLevel="Success" />--><!--
        </behavior>-->
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netHttpsBinding>
        <binding name="BlobBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <!--<transport clientCredentialType="Basic"/>-->
          </security>
        </binding>
        <binding name="CommandBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <!--<transport clientCredentialType="Basic"/>-->
          </security>
          <!--<webSocketSettings 
            createNotificationOnConnection="true"
            disablePayloadMasking="true"
            keepAliveInterval="15"
            maxPendingConnections="100"
            subProtocol=""
            transportUsage="Always"/>-->
        </binding>
      </netHttpsBinding>
    </bindings>

    <services>

      <!--<service behaviorConfiguration="CommandServiceBehavior" name="Blob.Services.Command.CommandService">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="CommandBinding" contract="Blob.Contracts.Command.ICommandService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>-->

      <service behaviorConfiguration="BlobServiceBehavior" name="Blob.Security.BlobUserManagerAdapter">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="BlobBinding" contract="Blob.Contracts.Security.IUserManagerService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="BlobServiceBehavior" name="Blob.Services.Registration.RegistrationService">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="BlobBinding" contract="Blob.Contracts.Registration.IRegistrationService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="BlobServiceBehavior" name="Blob.Services.Status.StatusService">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="BlobBinding" contract="Blob.Contracts.Status.IStatusService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>

    </services>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
    </diagnostics>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

  <!-- https://msdn.microsoft.com/en-us/library/aa702726.aspx -->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\_\blobserviceTraces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
