<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>

  <connectionStrings>
    <add name="BlobDbContext" connectionString="Data Source=(local);Initial Catalog=BlobDb3;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.identityModel>
    <identityConfiguration>
      <claimsAuthenticationManager type="Blob.Security.Authentication.ClaimTransformer, Blob.Security"/>
      <claimsAuthorizationManager type="Blob.Security.Authorization.BlobClaimsAuthorizationManager, Blob.Security"/>
    </identityConfiguration>
  </system.identityModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5.2" />

    <!-- Test machineKey.  Change after dev time-->
    <machineKey validationKey="806DA3230D504975153A70789D60134C00F9EA5D8F8E498DC826FB3A81A69A10DEEF795A6841E2154D885952A8759411BD661846D6C11C23B947351A9B9302E0" decryptionKey="8DCBF6A88438EB6E8F51059770DC1A8E5B776CB4307922C8" validation="SHA1" />
  </system.web>

  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Services.Device.DeviceConnectionService" relativeAddress="DeviceConnectionService.svc" />
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Services.Device.DeviceStatusService" relativeAddress="DeviceStatusService.svc" />
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Services.Before.BeforeCommandService" relativeAddress="BeforeCommandService.svc" />
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Services.Before.BeforeQueryService" relativeAddress="BeforeQueryService.svc" />
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Security.BlobUserManagerAdapter" relativeAddress="UserManagerService.svc" />
        <add factory="Blob.WcfHost.Infrastructure.BlobHostFactory" service="Blob.Services.Before.BeforeAuthorizationService" relativeAddress="AuthorizationService.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>

    <behaviors>
      <serviceBehaviors>
        <behavior name="AuthBehavior">
          <serviceAuthorization principalPermissionMode="Always"/>
          <serviceCredentials useIdentityConfiguration="true">
            <userNameAuthentication customUserNamePasswordValidatorType="Blob.Security.Authentication.BlobUserNamePasswordValidator, Blob.Security"/>
          </serviceCredentials>
          
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netHttpsBinding>
        <binding name="TMBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netHttpsBinding>
    </bindings>
    

    <services>
      <service behaviorConfiguration="AuthBehavior" name="Blob.Services.Device.DeviceConnectionService">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="TMBinding"
          contract="Blob.Contracts.Command.IDeviceConnectionService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AuthBehavior" name="Blob.Security.Identity.BlobUserManagerAdapter">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="TMBinding"
          contract="Blob.Contracts.Security.IUserManagerService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AuthBehavior" name="Blob.Services.Device.DeviceStatusService">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="TMBinding"
          contract="Blob.Contracts.Device.IDeviceStatusService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AuthBehavior" name="Blob.Services.Before.BeforeCommandService">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="TMBinding"
          contract="Blob.Contracts.Blob.IBlobCommandManager" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AuthBehavior" name="Blob.Services.Before.BeforeQueryService">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="TMBinding"
          contract="Blob.Contracts.Blob.IBlobQueryManager" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AuthBehavior" name="Blob.Services.Before.BeforeAuthorizationService">
        <endpoint address="" binding="netHttpsBinding" bindingConfiguration="TMBinding"
          contract="Blob.Contracts.Security.IAuthorizationManagerService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
    </diagnostics>
  </system.serviceModel>

  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>

  <!-- https://msdn.microsoft.com/en-us/library/aa702726.aspx -->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\_\blobserviceTraces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
