@model Blob.Contracts.Dto.ViewModels.DeviceCommandVm

@{
    // get the name of the ID - this is to support multiple fields
    var htmlField = ViewData.TemplateInfo.HtmlFieldPrefix;
}
<div class="form-group">
    @Html.HiddenFor(model => model)
    @if (Model.CommandParamters != null)
    {
        foreach (var item in Model.CommandParamters)
         {
             <div class="col-md-2">
                 <label class="btn btn-info">@item.Key"></label>
                 <input type="text" class="prop-@htmlField" onchange=" javascript:$('#@htmlField').val(true); " value="@item.Value"/>
             </div>
         }
    }
</div>
