@*@model Blob.Contracts.Models.ViewModels.DeviceCommandParameterPairVm

<div class="form-group">
    @Html.DisplayFor(model => model.Key)
    <div class="col-md-10">
        @Html.HiddenFor(model => model.Key)
        @Html.TextBoxFor(model => model.Value)
    </div>
</div>*@