<div class="panel panel-default">
    <div class="panel-heading">Add a device</div>
    <div class="panel-body">
        <div>
            <a href="~/Content/Download/BMonitorSetup.msi" class="btn btn-default" title="Add a device"><span class='glyphicon glyphicon-plus'></span></a>
            Add a new device.
        </div>
    </div>
</div>