<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
      <name>BuildNotificationJob</name>
      <group>NotificationJobs</group>
      <description>Build email notifications</description>
      <job-type>Behind.Service.Notification.BuildNotificationsJob, Behind.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>BuildNotificationJob</name>
        <group>NotificationJobs</group>
        <description>Triggers the build email notification job</description>
        <job-name>BuildNotificationJob</job-name>
        <job-group>NotificationJobs</job-group>
        <cron-expression>0/7 * * * * ?</cron-expression>
      </cron>
    </trigger>
    
    <job>
      <name>EmailNotificationJob</name>
      <group>NotificationJobs</group>
      <description>Send email notifications</description>
      <job-type>Behind.Service.Notification.EmailNotificationJob, Behind.Service</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>EmailNotificationJob</name>
        <group>NotificationJobs</group>
        <description>Triggers the email notification job</description>
        <job-name>EmailNotificationJob</job-name>
        <job-group>NotificationJobs</job-group>
        <cron-expression>0/28 * * * * ?</cron-expression>
      </cron>
    </trigger>
    
  </schedule>
</job-scheduling-data>